{% trans_default_domain 'events' %}

<p>
    Les outils sont accessibles lorsque l'utilisateur/trice est identifié/e et dispose des droits nécessaires. Une barre d'outils apparaît alors sur chaque page. Il est aussi possible de gérer les pages depuis le <a href="{{ path('events_dashboard') }}">{{ 'label.dashboard'|trans }} (Events)</a>.
</p>

<p>
    <strong>Créer un événement</strong> : utiliser le bouton <span class="glyphicon glyphicon-plus class btn btn-default btn-xs"></span>
    <br />
    <strong>Modifier un événement</strong> : utiliser le bouton <span class="glyphicon glyphicon-pencil class btn btn-default btn-xs"></span>
    <br />
    <strong>Supprimer un événement</strong> : utiliser le bouton <span class="glyphicon glyphicon-trash class btn btn-default btn-xs"></span>
    <br />
    <strong>Afficher la version actuelle d'un événement</strong> : utiliser le bouton <span class="glyphicon glyphicon-eye-open class btn btn-default btn-xs"></span>
</p>

<p>
    Pour chaque événement il est nécessaire de fournir
    <br />
    <strong>Titre</strong> : utilisé pour être affiché sur l'événement et envoyé au navigateur
    <br />
    <strong>Url sémantique</strong> : lien utilisé pour appeler l'événement, par exemple : http://example.com/pages/<strong>url-semantique</strong>, uniquement des minuscules non accentuées et '-'. Il est défini automatiquement en fonction du titre, mais il peut être modifié.
    <br />
    <strong>Image</strong> : image de l'événement
    <br />
    <strong>Date et heure de début</strong> : en rapport avec l'événement
    <br />
    <strong>Date et heure de fin</strong> : en rapport avec l'événement
    <br />
    <strong>Lieu</strong> : en rapport avec l'événement
    <br />
    <strong>Description</strong> : description de l'événement
</p>